/* start: forget-password-email screen */
#forget-password-email-screen {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh; 
    transform: translate(-20%, -15%);
    font-family: 'Inter', 'Times New Roman', Times, serif;
}

#forget-password-email-screen .heading{
    font-size: 20px;
    color: #B48400;
    font-weight: 400;
    line-height: 24px;
    transform: translate(-20%, -30%);
}

#forget-password-email-screen .information{
    transform: translate(100%, -10%);

}
  
#forget-password-email-screen .information label {
    display: block;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px; 
}
  
#forget-password-email-screen .information input {
    width: 340px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-weight: 200;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

#forget-password-email-screen .information input:hover {
    background-color: #FFF7E4;
}

#forget-password-email-screen .btn-next {
    width: 80px;
    border-radius: 4px;
    width: 180px;
    height: 50px;
    background-color: #FFF7E4;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border: 0.5px solid #ccc;
    transform: translate(200%, -20%);
    cursor: pointer;
}
/* end: forget-password-email screen*/