/* start: forget-password-done-screen */
#forget-password-done-screen {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transform: translate(0, -10%);
    height: 100vh; 
    font-family: 'Inter', 'Times New Roman', Times, serif;
}

#forget-password-done-screen .message {
    display: flex;
    justify-content: center;
    align-items: center;
}

#forget-password-done-screen .message p{
    font-size: 32px;
    font-weight: bold;
    margin: auto 15%;
    text-align: center;
    letter-spacing: 0.2px;
}

#forget-password-done-screen .icon{
    font-size: 100px;
    padding: 10px;
    color: #9C845C
}

#forget-password-done-screen .btn-back {
    width: 80px;
    border-radius: 4px;
    width: 180px;
    height: 50px;
    background-color: #FFF7E4;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #000;
    cursor: pointer;

}
/* end: forget-password-done-screen */