/* Start: Product Mangement Details */

#products-management-details {
    display: flex;
}

#products-management-details .products-main {
    margin-top: 15vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#products-management-details .product-details input {
    width: 220px;
    height: 22px;
    color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box; 
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}

#products-management-details .product-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#products-management-details .product-details > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.name,
.price,
.photos,
.material,
.width,
.height,
.depth,
.weight {
    margin-right: 4em;
    margin-left: 4em;
}

#products-management-details .management-menu {
    margin-left: 10%; 
    margin-top: 10vh;
}

#products-management-details .management-menu ul {
    background-color: #FFF;
    width: 334px;
    list-style-type: none;
}

#products-management-details .management-menu li {
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 1em;
}

.management-menu a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    line-height: 40px;
    font-weight: 500;
}
.management-menu li:first-child {
    border-top: 1px solid #000;
}

.management-menu li:nth-child(2)  {
    background-color:#FFF0CB;
}

.management-menu li:nth-child(2) a {
    color: #B48400;
}

.management-menu li:hover {
    background-color:#FFF0CB;
}

/*End: Product Management Details */